<div>
<form action="/links" method="post">
  <label>Enter Url:</label>
  <input type="text" name="url">
  <label>Enter Title:</label>
  <input type="text" name="title">
  <label>Enter Tags:</label>
  <input type="text" name="tag">
  <input type="submit" value="Create link">
</form>
</div>
