<div>
<form action="/links" method="post">
  Please enter a url:
  <input type="text" name="url">
  Please eneter a title:
  <input type="text" name="title">
  <input type="submit" value="Create link">
</form>
</div>
